@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1em;
  
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  transition: var(--transition-default);
}

@mixin button(
  $bg,
  $hover
) {
  font-size: 1.2rem;
  border: var(--color-border);
  border-radius: var(--radius-sm);
  color: var(--color-text);
  padding: 0.9rem 1rem;
  background: $bg;

  &:hover:not(:disabled) {
    background: $hover;
    color: var(--color-text);
    transition: var(--transition-default);
  }

  &:disabled {
    opacity: .7;
    cursor: not-allowed;
  }
}

@mixin button-std {
  @include button(
    var(--color-primary),
    var(--color-primary-hover)
  );
}

@mixin button-danger {
  @include button(
    var(--color-danger),
    var(--color-danger-hover)
  );
}

@mixin hover-opacity {
  transition: opacity var(--transition-default);

  &:hover {
    opacity: 0.8;
  }
}