@use '@/styles/mixins' as *;

.navSection {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 30;
  }
}

.editButton {
  min-height: 2em;

  @include button-std;
}